

<section class="cart-show">

  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="alert alert-dark">
    <h3><p>Jungle website currently has <%= @product_count %> products in a total of <%= @categories_count %> categories</p></h3>
    <h4><%= link_to 'Admin Products Page', '/admin/products' %></h4>
  </div>


</section>

