<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  
    <% if cart.length == 0 %>
    <div class="alert alert-warning">
      <h3>Your card is empty!</h3>
      <h4><%= link_to 'Add something to your cart', '/' %></h4>
    </div>
    <% else %>
      <%= render 'cart_details' %>
    <% end %>


</section>
