
<section class="cart-show">

  <header class="page-header">
    <h1>About Page</h1>
  </header>

  <div class="alert alert-dark">
    <p><h4>Jungle was built in 420 minutes back in 1969 by Bob the monkey.</h4></p>

    <img src="https://i.imgflip.com/20vt87.jpg" alt="rss feed" />
  </div>


</section>

